$border-size : pxToRem(3);

.focus{
  &__container{
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
    display: flex;
    justify-content: center;

    min-height: $full-v-h;
    min-width: $full-v-w;
    padding: $spacing-huge;
  }

  &__area{
    position: relative;
    width: calc(#{$full-v-w} - 64px * 2);
    border: $border-size solid $primary-color;
    transform-origin: center;
    transition: .8s $ease-gentle;

    &::after{
      content: "";
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + #{$border-size} * 9);
      height: pxToRem(150);
      background-color: $background-light;
    }

    &.active{
      border-left: calc(#{$border-size} * 3) solid $primary-color;
      border-right: calc(#{$border-size} * 3) solid $primary-color;
      transform: scaleX(0.33);
    }
  }
}
