.portfolio{
  height: 300vh;
}

.outer{
  overflow-x: hidden;
}

.slider{
  display: flex;
  width: 200vw;

  section{
    height: 100vh;
    width: 50%;
    padding: $spacing-huge;

    .inner{
      position: relative;
      display: flex;
      height: 100%;

      .content{
        background-color: $background-light;
      }
    }

    &:nth-child(odd) .inner {
      align-items: start;
      transform: translate($spacing-xxxl, -$spacing-xl);
    }

    &:nth-child(even) .inner {
      align-items: end;
      transform: translate($spacing-xxl, -$spacing-huge);
    }
  }
}
