.portfolio{
  height: 300vh;
}

.outer{
  overflow-x: hidden;
}

.slider{
  display: flex;
  width: fit-content;

  section{
    height: 100vh;
    width: calc(100vw / 2);
    padding: $spacing-huge;

    .inner{
      position: relative;
      display: flex;
      height: 100%;

      .content{
        background-color: $background-light;
      }
    }

    &:nth-child(odd) .inner {
      align-items: start;
      transform: translate($spacing-xxxl, clamp(pxToRem(-12), -3vw, pxToRem(-24)));
    }

    &:nth-child(even) .inner {
      align-items: end;
      transform: translate($spacing-xxl, clamp(pxToRem(-32), -8vw, pxToRem(-64)));
    }
  }
}




@media only screen and (max-width: 768px) {
  .portfolio {
    display: none !important;
  }
}
