.site-content{
  z-index: 1000;
  display: flex;
  flex-direction: column;

  min-height: $full-v-h;
  min-width: $full-v-w;

  &__section{
    display: none;

    &.active{
      display: flex;
    }
  }
}
