{{ define "main" }}
  <section class="focus__container">
      <div class="focus__area"></div>
  </section>

  <div class="div site-content">
    <section class="home site-content__section active">
      <div class="home__content-container">
        <div class="home__titles">
          <h1 class="special-title">Gobelin's <br>Student</h1>
          <h1></h1>
          <p class="special-subtitle">Creative Developer</p>
        </div>
        <div class="home__content">
          <div class="job-details">
            <span>Available for an <br> <strong>Intership</strong></span>
          </div>

          <div class="logo"></div>

          <div class="name">
            <span class="firstname">Nehémia</span>
            <span class="lastname">Telusma</span>
          </div>
        </div>
      </div>
      <div class="home__side">
        <div class="top">
          <div class="last-job">
            <div class="logo"><img src="/media/logos/mmi_logo.svg" alt=""></div>
            <p>Recently graduated with a Bachelor's Degree in MMI</p>
          </div>
        </div>
        <img src="/media/icons/X.svg" class="middle" alt="">
        <div class="bottom">
          <div class="last-job">
            <div class="logo"><img src="/media/logos/acrib_logo.svg" alt=""></div>
            <p>Former Intern as a Front End Developer at Acrib</p>
          </div>
        </div>
      </div>
    </section>
    <section class="portfolio site-content__section active" id="portfolio">
      <div class="outer">
        <div class="slider">
          {{ range where .Site.RegularPages "Section" "projects" }}
          <section>
            <div class="inner">
              <div class="content project">
                <div class="canvas-container" data-image="{{ .Params.image }}"></div>
                <div class="text-content">
                  <h2 class="project__title">{{ .Title }}</h2>
                  <p class="project__description">{{ .Params.description }}</p>
                </div>
              </div>
            </div>
          </section>
          {{ end }}
        </div>
      </div>
    </section>
  </div>
{{ end }}
