{{ define "main" }}
  <section class="focus__container">
      <div class="focus__area"></div>
  </section>

  <div class="div site-content">
    <section class="home site-content__section active">
      <div class="home__content-container">
        <div class="home__titles">
          <h1 class="special-title">Gobelin's <br>Student</h1>
          <h1></h1>
          <p class="special-subtitle">Creative Developer</p>
        </div>
        <div class="home__content">
          <div class="job-details">
            <span>Available for an <br> <strong>Intership</strong></span>
          </div>

          <div class="logo"></div>

          <div class="name">
            <span class="firstname">Nehémia</span>
            <span class="lastname">Telusma</span>
          </div>
        </div>
      </div>
      <div class="home__side">
        <div class="top"></div>
        <div class="bottom">
          <div class="last-job">
            <div class="logo"></div>
            <p>Former Inter Front end <br> developer at Acrib</p>
          </div>
        </div>
      </div>
    </section>
    <section class="portfolio site-content__section active" id="portfolio">
      <div class="outer">
        <div class="slider">
          <section>
            <div class="inner">
              <div class="content project">
                <div class="canvas-container"></div>
                <div class="text-content">
                  <h2 class="project__title">Projet 1 • Aurora</h2>
                  <p class="project__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nulla doloribus id delectus quidem nobis, illum sint voluptatum qui odit culpa.</p>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="inner">
              <div class="content project">
                <div class="canvas-container"></div>
                <div class="text-content">
                  <h2 class="project__title">Projet 2 • Blessing</h2>
                  <p class="project__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nulla doloribus id delectus quidem nobis, illum sint voluptatum qui odit culpa.</p>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="inner">
              <div class="content project">
                <div class="canvas-container"></div>
                <div class="text-content">
                  <h2 class="project__title">Projet 3 • Hope</h2>
                  <p class="project__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nulla doloribus id delectus quidem nobis, illum sint voluptatum qui odit culpa.</p>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="inner">
              <div class="content project">
                <div class="canvas-container"></div>
                <div class="text-content">
                  <h2 class="project__title">Projet 4 • Make Art</h2>
                  <p class="project__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nulla doloribus id delectus quidem nobis, illum sint voluptatum qui odit culpa.</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
{{ end }}
