{{ define "main" }}
  <section class="focus__container">
    <div class="focus__area active"></div>
  </section>

  <div class="div site-content">
    <section class="home site-content__section active">
      <div class="home__content-container">
        <div class="home__titles">
          <h1 class="special-title">Gobelin's <br>Student</h1>
          <h1></h1>
          <p class="special-subtitle">Creative Developer</p>
        </div>
        <div class="home__content">
          <div class="job-details">
            <span>Available for an <br> <strong>Intership</strong></span>
          </div>

          <div class="logo"></div>

          <div class="name">
            <span class="firstname">Nehémia</span>
            <span class="lastname">Telusma</span>
          </div>
        </div>
      </div>
      <div class="home__side">
        <div class="top"></div>
        <div class="bottom">
          <div class="last-job">
            <div class="logo"></div>
            <p>Former Inter Front end <br> developer at Acrib</p>
          </div>
        </div>
      </div>
    </section>
  </div>
{{ end }}
